In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
names = pd.read_csv("./new data/name.csv")["name"]

In [3]:
final_df = pd.read_csv("./new data/output/processed/final_df_mean_of_closed.csv", index_col=["Company", "Year"])
for name in names:
    df = pd.read_csv(f"./new data/output/{name}.csv", usecols=["PDate", "ClosePrice"])
    i = 0
    years_list = ["1397","1398","1399","1400","1401","1402"]
    years = {}
    for date in df["PDate"]:
        date = str(date)
        if date[:4] in years.keys():
            years[date[:4]].append(df.loc[i].ClosePrice)
        elif date[:4] not in years.keys() and date[:4] in years_list:
            years[date[:4]] = [df.loc[i].ClosePrice]
        else:
            pass
        i +=1
    i = 0
    for key, value in years.items():
        seri = pd.Series(value)
        final_df.at[(name,int(key)), "mean of closed price"] = seri.mean()
        i +=1
final_df

              mean of closed price
Company Year
ABSAL   1397            378.516955
        1398           3090.722941
        1399           5643.340535
        1400           4864.995649
        1401           4434.931345
...                            ...
TKOMBA  1398           2668.595168
        1399          10734.456255
        1400           5077.325983
        1401           4332.444412
        1402           7136.141488

[504 rows x 1 columns]

In [4]:
final_df.to_csv("./new data/output/processed/mean_of_closed_years_all_items.csv")