In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
names = pd.read_csv("./new data/name.csv")["name"]

In [3]:
for name in names:
    df = pd.read_csv(f"./new data/output/{name}.csv", usecols=["PDate", "ClosePrice"])
    df.sort_values("PDate", inplace=True)
    df.reset_index(drop=True, inplace=True)
    df.set_index("PDate", inplace=True)
    df_in_percentage = df.pct_change()*100
    df_in_percentage.reset_index(inplace=True)
    df_in_percentage.drop(0, inplace=True)
    df_in_percentage.reset_index(inplace=True, drop=True)
    monthly_price_mean = pd.DataFrame(columns=["Year-Month", "Mean of Firm"])
    i = 0
    pice_of_months = {}
    for date in df_in_percentage["PDate"]:
        date = str(date)
        if date[:6] in pice_of_months.keys():
            pice_of_months[date[:6]].append(df_in_percentage.loc[i].ClosePrice)
        else:
            pice_of_months[date[:6]] = [df_in_percentage.loc[i].ClosePrice]
        i +=1
    i = 0
    for key, value in pice_of_months.items():
        seri = pd.Series(value)
        monthly_price_mean.loc[i] = [key, seri.mean()]
        i +=1
    monthly_price_mean.to_csv(f"./new data/output/processed/mean of month/mean_of_{name}.csv")

In [5]:
monthly_price_mean.head(100)

   Year-Month  Mean of Firm
0      138009      0.000000
1      138103      0.000000
2      138105     10.002362
3      138110     25.225416
4      138202     78.572433
..        ...           ...
95     139003     -0.436686
96     139004      0.050490
97     139005      0.443847
98     139006      0.548264
99     139007     -0.214099

[100 rows x 2 columns]