In [1]:
import pandas as pd

In [2]:
names = pd.read_csv("./new data/name.csv")["name"]
names.head()

0       ABSAL
1        ALMR
2        ALVN
3      DALBOR
4    BEHNOOSH
Name: name, dtype: object

In [3]:
names.info()

<class 'pandas.core.series.Series'>
RangeIndex: 84 entries, 0 to 83
Series name: name
Non-Null Count  Dtype
--------------  -----
84 non-null     object
dtypes: object(1)
memory usage: 804.0+ bytes

In [4]:
for name in names:
    print(name)

ABSAL
ALMR
ALVN
DALBOR
BEHNOOSH
BKAM
BOOTAN
CARBON
CHIN
CHKAPA
CHKAVEH
DDAM
DFARA
DMVN
DODE
DSHIMI
FAJR
FARAK
FARAVAR
FAZAR
FBAHONAR
FEMELI
FJAM
FKHAS
FKHOOZ
FOOLAD
FOOLAZ
FROOS
GHALBER
GHAZVIN
GHDAM
GHPAK
GHPINO
GHSAFHA
GHSALEM
GHSINO
JAMPILEN
KAMA
KASRA
KAVEH
KBAFGH
KCHAD
KGOL
KHAFEZ
KHAHAN
KHAZAR
KHAZIN
KHCHARKH
KHFANAR
KHKOMAK
KHODRO
KHOOSAZ
KHORASAN
KHZAMYA
KKHAK
KNOOR
KPARS
KRAZI
KSADI
KSAPA
NAMRINO
NOORI
PAKS
PARS
PDRAKHSH
PKERMAN
SABHAN
SAIPA
SARBIL
SEPID
SETRAN
SHABRIZ
SHAMLA
SHAPDIS
SHAPNA
SHARAK
SHASPA
SHBANDAR
SHETRAN
SHGOL
SHIRAZ
SHPARS
TAKSHA
TKOMBA

In [22]:
list_of_names = []
for name in names:
    for i in range(5):
        list_of_names.append(name)
list_of_names

['ABSAL',
 'ABSAL',
 'ABSAL',
 'ABSAL',
 'ABSAL',
 'ALMR',
 'ALMR',
 'ALMR',
 'ALMR',
 'ALMR',
 'ALVN',
 'ALVN',
 'ALVN',
 'ALVN',
 'ALVN',
 'DALBOR',
 'DALBOR',
 'DALBOR',
 'DALBOR',
 'DALBOR',
 'BEHNOOSH',
 'BEHNOOSH',
 'BEHNOOSH',
 'BEHNOOSH',
 'BEHNOOSH',
 'BKAM',
 'BKAM',
 'BKAM',
 'BKAM',
 'BKAM',
 'BOOTAN',
 'BOOTAN',
 'BOOTAN',
 'BOOTAN',
 'BOOTAN',
 'CARBON',
 'CARBON',
 'CARBON',
 'CARBON',
 'CARBON',
 'CHIN',
 'CHIN',
 'CHIN',
 'CHIN',
 'CHIN',
 'CHKAPA',
 'CHKAPA',
 'CHKAPA',
 'CHKAPA',
 'CHKAPA',
 'CHKAVEH',
 'CHKAVEH',
 'CHKAVEH',
 'CHKAVEH',
 'CHKAVEH',
 'DDAM',
 'DDAM',
 'DDAM',
 'DDAM',
 'DDAM',
 'DFARA',
 'DFARA',
 'DFARA',
 'DFARA',
 'DFARA',
 'DMVN',
 'DMVN',
 'DMVN',
 'DMVN',
 'DMVN',
 'DODE',
 'DODE',
 'DODE',
 'DODE',
 'DODE',
 'DSHIMI',
 'DSHIMI',
 'DSHIMI',
 'DSHIMI',
 'DSHIMI',
 'FAJR',
 'FAJR',
 'FAJR',
 'FAJR',
 'FAJR',
 'FARAK',
 'FARAK',
 'FARAK',
 'FARAK',
 'FARAK',
 'FARAVAR',
 'FARAVAR',
 'FARAVAR',
 'FARAVAR',
 'FARAVAR',
 'FAZAR',
 'FAZAR',
 'FAZAR',
 'FAZAR',
 'FAZAR',
 'FBAHONAR',
 'FBAHONAR',
 'FBAHONAR',
 'FBAHONAR',
 'FBAHONAR',
 'FEMELI',
 'FEMELI',
 'FEMELI',
 'FEMELI',
 'FEMELI',
 'FJAM',
 'FJAM',
 'FJAM',
 'FJAM',
 'FJAM',
 'FKHAS',
 'FKHAS',
 'FKHAS',
 'FKHAS',
 'FKHAS',
 'FKHOOZ',
 'FKHOOZ',
 'FKHOOZ',
 'FKHOOZ',
 'FKHOOZ',
 'FOOLAD',
 'FOOLAD',
 'FOOLAD',
 'FOOLAD',
 'FOOLAD',
 'FOOLAZ',
 'FOOLAZ',
 'FOOLAZ',
 'FOOLAZ',
 'FOOLAZ',
 'FROOS',
 'FROOS',
 'FROOS',
 'FROOS',
 'FROOS',
 'GHALBER',
 'GHALBER',
 'GHALBER',
 'GHALBER',
 'GHALBER',
 'GHAZVIN',
 'GHAZVIN',
 'GHAZVIN',
 'GHAZVIN',
 'GHAZVIN',
 'GHDAM',
 'GHDAM',
 'GHDAM',
 'GHDAM',
 'GHDAM',
 'GHPAK',
 'GHPAK',
 'GHPAK',
 'GHPAK',
 'GHPAK',
 'GHPINO',
 'GHPINO',
 'GHPINO',
 'GHPINO',
 'GHPINO',
 'GHSAFHA',
 'GHSAFHA',
 'GHSAFHA',
 'GHSAFHA',
 'GHSAFHA',
 'GHSALEM',
 'GHSALEM',
 'GHSALEM',
 'GHSALEM',
 'GHSALEM',
 'GHSINO',
 'GHSINO',
 'GHSINO',
 'GHSINO',
 'GHSINO',
 'JAMPILEN',
 'JAMPILEN',
 'JAMPILEN',
 'JAMPILEN',
 'JAMPILEN',
 'KAMA',
 'KAMA',
 'KAMA',
 'KAMA',
 'KAMA',
 'KASRA',
 'KASRA',
 'KASRA',
 'KASRA',
 'KASRA',
 'KAVEH',
 'KAVEH',
 'KAVEH',
 'KAVEH',
 'KAVEH',
 'KBAFGH',
 'KBAFGH',
 'KBAFGH',
 'KBAFGH',
 'KBAFGH',
 'KCHAD',
 'KCHAD',
 'KCHAD',
 'KCHAD',
 'KCHAD',
 'KGOL',
 'KGOL',
 'KGOL',
 'KGOL',
 'KGOL',
 'KHAFEZ',
 'KHAFEZ',
 'KHAFEZ',
 'KHAFEZ',
 'KHAFEZ',
 'KHAHAN',
 'KHAHAN',
 'KHAHAN',
 'KHAHAN',
 'KHAHAN',
 'KHAZAR',
 'KHAZAR',
 'KHAZAR',
 'KHAZAR',
 'KHAZAR',
 'KHAZIN',
 'KHAZIN',
 'KHAZIN',
 'KHAZIN',
 'KHAZIN',
 'KHCHARKH',
 'KHCHARKH',
 'KHCHARKH',
 'KHCHARKH',
 'KHCHARKH',
 'KHFANAR',
 'KHFANAR',
 'KHFANAR',
 'KHFANAR',
 'KHFANAR',
 'KHKOMAK',
 'KHKOMAK',
 'KHKOMAK',
 'KHKOMAK',
 'KHKOMAK',
 'KHODRO',
 'KHODRO',
 'KHODRO',
 'KHODRO',
 'KHODRO',
 'KHOOSAZ',
 'KHOOSAZ',
 'KHOOSAZ',
 'KHOOSAZ',
 'KHOOSAZ',
 'KHORASAN',
 'KHORASAN',
 'KHORASAN',
 'KHORASAN',
 'KHORASAN',
 'KHZAMYA',
 'KHZAMYA',
 'KHZAMYA',
 'KHZAMYA',
 'KHZAMYA',
 'KKHAK',
 'KKHAK',
 'KKHAK',
 'KKHAK',
 'KKHAK',
 'KNOOR',
 'KNOOR',
 'KNOOR',
 'KNOOR',
 'KNOOR',
 'KPARS',
 'KPARS',
 'KPARS',
 'KPARS',
 'KPARS',
 'KRAZI',
 'KRAZI',
 'KRAZI',
 'KRAZI',
 'KRAZI',
 'KSADI',
 'KSADI',
 'KSADI',
 'KSADI',
 'KSADI',
 'KSAPA',
 'KSAPA',
 'KSAPA',
 'KSAPA',
 'KSAPA',
 'NAMRINO',
 'NAMRINO',
 'NAMRINO',
 'NAMRINO',
 'NAMRINO',
 'NOORI',
 'NOORI',
 'NOORI',
 'NOORI',
 'NOORI',
 'PAKS',
 'PAKS',
 'PAKS',
 'PAKS',
 'PAKS',
 'PARS',
 'PARS',
 'PARS',
 'PARS',
 'PARS',
 'PDRAKHSH',
 'PDRAKHSH',
 'PDRAKHSH',
 'PDRAKHSH',
 'PDRAKHSH',
 'PKERMAN',
 'PKERMAN',
 'PKERMAN',
 'PKERMAN',
 'PKERMAN',
 'SABHAN',
 'SABHAN',
 'SABHAN',
 'SABHAN',
 'SABHAN',
 'SAIPA',
 'SAIPA',
 'SAIPA',
 'SAIPA',
 'SAIPA',
 'SARBIL',
 'SARBIL',
 'SARBIL',
 'SARBIL',
 'SARBIL',
 'SEPID',
 'SEPID',
 'SEPID',
 'SEPID',
 'SEPID',
 'SETRAN',
 'SETRAN',
 'SETRAN',
 'SETRAN',
 'SETRAN',
 'SHABRIZ',
 'SHABRIZ',
 'SHABRIZ',
 'SHABRIZ',
 'SHABRIZ',
 'SHAMLA',
 'SHAMLA',
 'SHAMLA',
 'SHAMLA',
 'SHAMLA',
 'SHAPDIS',
 'SHAPDIS',
 'SHAPDIS',
 'SHAPDIS',
 'SHAPDIS',
 'SHAPNA',
 'SHAPNA',
 'SHAPNA',
 'SHAPNA',
 'SHAPNA',
 'SHARAK',
 'SHARAK',
 'SHARAK',
 'SHARAK',
 'SHARAK',
 'SHASPA',
 'SHASPA',
 'SHASPA',
 'SHASPA',
 'SHASPA',
 'SHBANDAR',
 'SHBANDAR',
 'SHBANDAR',
 'SHBANDAR',
 'SHBANDAR',
 'SHETRAN',
 'SHETRAN',
 'SHETRAN',
 'SHETRAN',
 'SHETRAN',
 'SHGOL',
 'SHGOL',
 'SHGOL',
 'SHGOL',
 'SHGOL',
 'SHIRAZ',
 'SHIRAZ',
 'SHIRAZ',
 'SHIRAZ',
 'SHIRAZ',
 'SHPARS',
 'SHPARS',
 'SHPARS',
 'SHPARS',
 'SHPARS',
 'TAKSHA',
 'TAKSHA',
 'TAKSHA',
 'TAKSHA',
 'TAKSHA',
 'TKOMBA',
 'TKOMBA',
 'TKOMBA',
 'TKOMBA',
 'TKOMBA']

In [23]:
len(list_of_names)/5

84.0

In [24]:
years = [1398, 1399, 1400, 1401, 1402]*85
years

[1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402,
 1398,
 1399,
 1400,
 1401,
 1402]

In [25]:
mul_index_data = list(zip(list_of_names, years))
index = pd.MultiIndex.from_tuples(mul_index_data, names=["Company", "Year"])

In [15]:
final_df = pd.DataFrame(index=index, columns=["mean of closed price"])

In [20]:
final_df.tail(30)

             mean of closed price
Company Year
SHGOL   1397                  NaN
        1398                  NaN
        1399                  NaN
        1400                  NaN
        1401                  NaN
        1402                  NaN
SHIRAZ  1397                  NaN
        1398                  NaN
        1399                  NaN
        1400                  NaN
        1401                  NaN
        1402                  NaN
SHPARS  1397                  NaN
        1398                  NaN
        1399                  NaN
        1400                  NaN
        1401                  NaN
        1402                  NaN
TAKSHA  1397                  NaN
        1398                  NaN
        1399                  NaN
        1400                  NaN
        1401                  NaN
        1402                  NaN
TKOMBA  1397                  NaN
        1398                  NaN
        1399                  NaN
        1400                  NaN
        1401                  NaN
        1402                  NaN

In [21]:
final_df.to_csv("./new data/output/processed/final_df_mean_of_closed.csv")

In [26]:
other_df = pd.DataFrame(index=index, columns=["slope","intercept","r","p","stderr","correlation"])
other_df.tail()

             slope intercept    r    p stderr correlation
Company Year
TKOMBA  1398   NaN       NaN  NaN  NaN    NaN         NaN
        1399   NaN       NaN  NaN  NaN    NaN         NaN
        1400   NaN       NaN  NaN  NaN    NaN         NaN
        1401   NaN       NaN  NaN  NaN    NaN         NaN
        1402   NaN       NaN  NaN  NaN    NaN         NaN

In [27]:
other_df.to_csv("./new data/output/processed/sample_df_for_beta.csv")